 #Miscellaneous
*.class
*.g.dart
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
analysis_options.yaml
# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
# /build/

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release Miscellaneous
*.class
*.g.dart
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
analysis_options.yaml
# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
# /build/
# build/native_hooks
# build/native_assets
# build/flutter_assets
# build/3c8332cab77d3016a05bf9ec1dc4e913
# build/6ab642d2d29d49c7c5f5a6d85fcef46b.cache.dill.track.dill

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/lib/firebase_options.dart
